@using LibraryApplication.Data.Model;
@model List<Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<div>
    <table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Book Quantity</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var ctg in Model)
            {
                <tr>
                    <td>@ctg.CategoryName</td>
                    <td>@ctg.Books.Count()</td>
                    <td><a class="update btn btn-facebook" value="@ctg.Id" >Update</a> </td>
                    <td><a class="delete btn btn-danger" value="@ctg.Id" >Delete</a> </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Category Name</th>
                <th>Book Quantity</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>
</div>
